body{

    font-family: 16px Arial, Helvetica, sans-serif;
    background-image: url(imagem/fundo.png);
    background-color: #d2d2c1;
    
}

#principal{

    border: 2px aolid red;
    width: 900px;
}

.menu{

    border: 0px solid red;
    background: #c5c5b2;
    padding: 18px;
   
    
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    border: 0px solid red;
    padding: 5px;
}

.letra{

    color: #828271;
    font-size: 1.2em;
}

.conteudo{

    border: 0px solid red;
    background-color: #e8e8d9;
    padding: 10px;
}

.rodape{

    border: 0px solid red;
    padding: 0px;
    text-align: center;
}

.foto{

    border: 10px inset #c3c3ae;
}

